@page "/theatre"
@inject TheatreService theas
<h3>TheatrePage @theas.Theatres.Count()</h3>

@if (theas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var th in theas.Theatres)
    {
        <br />
        <h4>Theatre : No @(++RoomNo). Ticket : @th.Count()</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Type</th>
                    <th>Month</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Net</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in th)
                {
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.Gentle</td>
                        <td>@t.Age</td>
                        <td>@t.MemberType</td>
                        <td>@t.Month</td>
                        <td>@t.Price</td>
                        <td>@t.Discount()</td>
                        <td>@t.Net</td>
                    </tr>
                }
            </tbody>

        </table>

        <p>Count number of Male = @th.Count(px => px.Gentle.Equals(SD.Sex.M)) </p>
        <p>Count number of Female = @th.Count(px => px.Gentle.Equals(SD.Sex.F)) </p>
        <p>Count number of member = @th.Count(px => px.MemberType.Equals(SD.TypeM.member)) </p>
        <p>Count number of general = @th.Count(px => px.MemberType.Equals(SD.TypeM.general)) </p>
        <p>Average of Age = @th.Average(px => px.Age).ToString("##.00") </p>
        <p>Max Month : @theas.MaxMinMonth(th).maxMonth.Key value = @theas.MaxMinMonth(th).maxMonth.Value</p>
        <p>Min Month : @theas.MaxMinMonth(th).minMonth.Key value = @theas.MaxMinMonth(th).minMonth.Value</p>


    }
}

<div class="w-100 p-3" style="background-color: #eee;">
    <table class="table">
        <thead>
            <tr>
                <th>MonthRange</th>
                <th>SumNet</th>
                <th>CountMember</th>
                <th>CountGeneral</th>
                <th>CountAll</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in theas.ReportByQuarters)
            {
                <tr>
                    <td>@r.MonthRange</td>
                    <td>@r.SumNet</td>
                    <td>@r.CountMember</td>
                    <td>@r.CountGeneral</td>
                    <td>@r.CountAll</td>
                </tr>

            }
            <tr class="bg-warning">
                <th>Sum All</th>
                <th>@theas.ReportByQuarters.Sum(px => px.SumNet)</th>
                <th>@theas.ReportByQuarters.Sum(px => px.CountMember)</th>
                <th>@theas.ReportByQuarters.Sum(px => px.CountGeneral)</th>
                <th>@theas.ReportByQuarters.Sum(px => px.CountAll)</th>
            </tr>
        </tbody>

    </table>
</div>



@code {
    private int RoomNo;

    protected override void OnInitialized()
    {
        RoomNo = 0;
    }

}
